/* Events plugin: backend styles */
.modal .row, 
.events-admin .row {
    margin-bottom: 10px;
}
.row.no-gutter > [class*=col-] {
  padding-left: 0;
  padding-right: 0;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.events-admin .tab-pane .nav-pills {
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 10px 0 10px;
}
.events-admin .tab-pane.no-table {
    padding: 0 10px;
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.events-admin .tab-pane table {
    border-top: none;
    border-left: none;
    border-bottom: none;
    margin-bottom: 0;
}
.events-admin .tab-pane table form {
    display: inline-block;
}
.events-admin .event-image {
    height: 50px;
    width: 50px;
    /*margin: -10px 12px 0 -12px;*/
}

/* handle event list images */
.events-admin .event-image.section-b,
.events-admin .event-image.section-m,
.events-admin .event-image.section-t {
    background-size: 50px auto;
}
.events-admin .event-image.section-l,
.events-admin .event-image.section-c,
.events-admin .event-image.section-r {
    background-size: auto 50px;
}
.events-admin .event-image.section-t {
    background-position: top;
}
.events-admin .event-image.section-b {
    background-position: bottom;
}
.events-admin .event-image.section-l {
    background-position: left;
}
.events-admin .event-image.section-r {
    background-position: right;
}
.events-admin .event-image.section-c,
.events-admin .event-image.section-m {
    background-position: center;
}

/* handle image positions in event formula */
.modal .image-section {
    display: block;
    margin-top: 5px;
    border: 1px solid #999;
}
.modal .image-section-label {
    text-align: center;
}
.modal .image-section.section-landscape {
    width: 30px;
    height: 22px;
}
.modal .image-section.section-portrait {
    width: 22px;
    height: 30px;
}
.modal .image-section.section-top {
    background: linear-gradient(to bottom, #ccc, #ccc 20px, #fff 20px);
}
.modal .image-section.section-bottom {
    background: linear-gradient(to top, #ccc, #ccc 20px, #fff 20px);
}
.modal .image-section.section-middle {
    background: linear-gradient(to top, #fff, #fff 4px, #ccc 4px, #ccc 24px, #fff 24px);
}
.modal .image-section.section-center {
    background: linear-gradient(to left, #fff, #fff 4px, #ccc 4px, #ccc 24px, #fff 24px);
}
.modal .image-section.section-left {
    background: linear-gradient(to right, #ccc, #ccc 20px, #fff 20px);
}
.modal .image-section.section-right {
    background: linear-gradient(to left, #ccc, #ccc 20px, #fff 20px);
}
