/* Events plugin: frontend styles */
.events-plugin {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
}

.events-plugin .event {
    width: 100%;
    min-width: 500px;
    position: relative;
    overflow: hidden;
}
.events-plugin .event-content {
    height: 9em;
    position: relative;
}
.events-plugin .event-content h3,
.events-plugin .event-content .text,
.events-plugin .event-content .date {
    color: #fff;
}
.events-plugin .event-content .description {
    position: absolute;
    top: 0;
    padding: 6px 10px;
    width: calc(100% - 9em);
}
.events-plugin .event-content h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}
.events-plugin .event-content .text {
    min-height: 3.5em;
    line-height: 1.6em;
}
.events-plugin .event-content .date {
    font-size: 2.2em;
    font-weight: 300;
    margin-top: 10px;
}
.events-plugin .event-content-extend {
    position: absolute;
    height: 9em;
    padding: 9px 10px;
    width: 100%;
    background: rgba(0, 0, 0, .85);
    color: #fff;
    top: 0;
    opacity: 0;
    transition: all .4s;
}
.events-plugin .row:nth-child(even) .event-image,
.events-plugin .row:nth-child(odd) .description,
.events-plugin .row:nth-child(odd) .event-content-extend {
    left: 0;
}
.events-plugin .row:nth-child(odd) .event-image,
.events-plugin .row:nth-child(even) .description,
.events-plugin .row:nth-child(even) .event-content-extend {
    right: 0;
}

.events-plugin .event.extended:hover .event-content .description h3,
.events-plugin .event.extended:hover .event-content .description .text,
.events-plugin .event.extended:hover .event-content .description .date {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
.events-plugin .event.extended:hover .event-content-extend {
    opacity: 1;
}
.events-plugin .event-image {
    height: 9em;
    width: 9em;
    position: absolute;
    z-index: 10;
    top: 0;
}

.events-plugin .event-image.section-b,
.events-plugin .event-image.section-m,
.events-plugin .event-image.section-t {
    background-size: 9em auto;
}
.events-plugin .event-image.section-l,
.events-plugin .event-image.section-c,
.events-plugin .event-image.section-r {
    background-size: auto 9em;
}
.events-plugin .event-image.section-t {
    background-position: top;
}
.events-plugin .event-image.section-b {
    background-position: bottom;
}
.events-plugin .event-image.section-l {
    background-position: left;
}
.events-plugin .event-image.section-r {
    background-position: right;
}
.events-plugin .event-image.section-c,
.events-plugin .event-image.section-m {
    background-position: center;
}
